.card {
  display: grid;
  width: 700px;
  height: 500px;
  align-items: center;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  grid-template-columns: 20px 1fr 100px 20px;
  border-radius: 10px;
  grid-template-areas:
    "card-img-wrapper card-img-wrapper card-img-wrapper card-img-wrapper"
    ". card-text-wrapper card-text-wrapper ."
    ". card-status card-button .";
  box-shadow: 1px 5px 10px rgb(51, 51, 51);
  .card-img-wrapper {
    height: 330px;
  }
}

.cardMini {
  display: grid;
  padding: 15px;
  gap: 10px;
  width: 60%;
  height: 180px;
  border: 1px solid black;
  box-shadow: 1px 5px 10px rgb(51, 51, 51);
  border-radius: 5px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  grid-template-columns: 1.5fr 2fr 1fr;
  grid-template-areas:
    "card-img-wrapper card-text-wrapper card-text-wrapper"
    "card-img-wrapper  . . "
    "card-img-wrapper card-status card-button";
  .card-img-wrapper {
    height: 100%;
  }
}
.raiting {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  color: rgb(0, 0, 0);
  font-size: 25px;
  cursor: pointer;
  transition: all 0.2s linear;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.raiting-active {
  background-color: var(--blueHover);
  color: var(--pinkHover);
}

.raiting:hover {
  color: var(--pinkHover);
  background-color: var(--blueHover);
  border: unset;
}

.card-img-wrapper {
  position: relative;
  grid-area: card-img-wrapper;
  transition: opacity 0.1s linear;
  overflow: hidden;
  border-radius: 10px;
  align-self: flex-start;
  cursor: pointer;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.card-full-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  font-size: 100px;
  position: absolute;
  z-index: 99;
  transition: 0.1s all linear;
  color: rgb(45, 45, 45);
}

.card-img-wrapper:hover {
  .card-full-image {
    opacity: 1;
    backdrop-filter: blur(2px);
  }
}

.card-status {
  grid-area: card-status;
  display: flex;
  justify-content: start;
  gap: 20px;
}
.card-button {
  grid-area: card-button;
  height: 25px;
  background-color: var(--blueHover);
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.card-button:hover {
  background-color: rgb(85, 121, 249);
}
.card-text-wrapper {
  grid-area: card-text-wrapper;
  h2 {
    padding: 0;
    margin: 0;
  }
  span {
    font-size: 14px;
  }
}
