


body {
  --pinkHover: rgb(251, 102, 2);
  --blueHover: #e5ebf1;
  --mainCol: rgb(23, 161, 241);
  background-color: #e5ebf1;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  font-family: 'Noto Serif', serif;
  box-sizing: border-box;
}